*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
   background: linear-gradient(135deg, #4facfe, #00f2fe);
   height: 100%;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 2px solid;
    padding: 20px;
    height: 650px;
    width: 450px;
    margin: 50px;
}

input
{
    margin: 10px ;
    padding: 10px;
    border: #000000 2px solid;
    width: 100%;

}

label
{
    margin: 10px;
    font-weight: bold;
    color: black;
}


button
{
    margin: 10px;
    padding: 10px;
    border: #000000 2px solid;
    width: 50%;
    background-color:#f4f9e9;
    font-weight: bold;
    cursor: pointer;
    color: black;
    font-size: 20px;
}


div
{
    margin: 50px;
    font-size: 20px;
}


table
{
    border: 2px solid black;
    width:800px;
    text-align: center;
    margin:50px;
   
}


.main
{
    display: flex;
    justify-content: space-around;
}